<html>
  <head>
    <title>Modifier le potin</title>
  </head>
  <body>
    <h1>Edit le potin !</h1>
    <p>Rajoute ton grin de sel via le formulaire ci-dessous</p>
    <form action='/gossips/id/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_edit_author'/><br/>
      Ta version du potin : <input type='text' name='gossip_edit_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>